@import url(clearsansbold.ttf);

* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 80px 0;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 10px;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #FAF8EF;
    background-position: center;
    background-repeat: no-repeat;
}

.game .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    color: #776e65;
    flex-grow: 0;
}

.game .header .restart {
    background: #8f7a66;
    border-radius: 3px;
    border: 0;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
}

.game-container {
    padding: 15px;
    background: #BBADA0;
    height: 500px;
    width: 500px;
    margin-top: 40px;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.game .field .row {
    display: flex;
    margin-bottom: 15px;
}

.game .field .row:last-child {
    margin-bottom: 0;
}

.game .field .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, height 0.2s, width 0.2s, margin 0.2s;
    width: 106.25px;
    height: 106.25px;
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    z-index: 10;
    font-size: 55px;
    background: rgba(238, 228, 218, 0.35);
    margin-right: 15px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.game .field .cell:last-child {
    margin-right: 0;
}

.game .field .cell[data-ship="2"] {
    color: #776E65;
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}


.game .field .cell[data-ship="4"] {
    color: #776E65;
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.game .field .cell[data-ship="8"] {
    color: #f9f6f2;
    background: #f2b179;
}

.game .field .cell[data-ship="16"] {
    color: #f9f6f2;
    background: #f59563;
}

.game .field .cell[data-ship="32"] {
    color: #f9f6f2;
    background: #f67c5f;
}

.game .field .cell[data-ship="64"] {
    color: #f9f6f2;
    background: #f65e3b;
}

.game .field .cell[data-ship="128"] {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px;
}

.game .field .cell[data-ship="256"] {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px;
}

.game .field .cell[data-ship="512"] {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px;
}

.game .field .cell[data-ship="1024"] {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px;
}

.game .field .cell[data-ship="2048"] {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px;
}

.game .field .cell[data-ship="4096"] {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px;
}

@media screen and (max-width: 520px) {
    body {
        margin: 50px 0;
    }

    .container {
        width: 280px;
        margin: 0 auto;
    }

    .title {
        font-size: 40px;
    }

    .game .header {
        font-size: 16px;
    }

    .game .header .restart {
        height: 30px;
        font-size: 14px;
    }

    .game-container {
        margin-top: 17px;
        position: relative;
        padding: 10px;
        cursor: default;
        -webkit-touch-callout: none;
        -ms-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        background: #bbada0;
        border-radius: 6px;
        width: 280px;
        height: 280px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .game .field .row {
        margin-bottom: 10px;
    }

    .game .field .row:last-child {
        margin-bottom: 0;
    }

    .game .field .cell {
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
        border-radius: 3px;
        background: rgba(238, 228, 218, 0.35);
        font-size: 35px;
    }

    .game .field .cell:last-child {
        margin-right: 0;
    }

    .game .field .cell[data-ship="128"] {
        font-size: 25px;
    }

    .game .field .cell[data-ship="256"] {
        font-size: 25px;
    }

    .game .field .cell[data-ship="512"] {
        font-size: 25px;
    }

    .game .field .cell[data-ship="1024"] {
        font-size: 15px;
    }

    .game .field .cell[data-ship="2048"] {
        font-size: 15px;
    }

    .game .field .cell[data-ship="4096"] {
        font-size: 10px;
    }
}